[theme="light-theme"] {
  --table-head-bg: #dee2e6;
  --table-fonts: #064E00;
  --table-border: #064E00;
  --even-row: #ced4da;
  --odd-row: #adb5bd;
  --button-bg: #dee2e6;
  --tr-hovered: rgb(220, 220, 220);
}

[theme="dark-theme"] {
  --table-head-bg: #343a40;
  --table-fonts: rgba(200, 255, 195, 0.807);
  --table-border: rgba(200, 255, 195, 0.807);
  --even-row: #495057;
  --odd-row: #6c757d;
  --button-bg: #343a40;
  --tr-hovered: rgb(30, 30, 30);
}

.content-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid var(--table-border);
    margin: 1%;
    margin-left: 0;
    font-size: 6mm;
    min-width: 1500px;
  }

  .content-table thead {
    border-bottom: solid;
  
  }

  .content-table thead th {
    background-color: var(--table-head-bg);
    color: var(--table-fonts);
    font-weight: 500;
  }

  .content-table tbody tr td {
    color:var(--table-fonts);
    font-weight: 500;
  }
  
  .content-table tbody tr.even-row {
    border-collapse: collapse;
    background-color: var(--even-row);
  }
  
  .content-table tbody tr.odd-row {
    background-color: var(--odd-row);
    border-collapse: collapse;
  }
  
  .content-table tbody tr.hovered-row {
    background-color: var(--tr-hovered);
  }
  
  .content-table tbody tr.selected-row {
    background-color: #8cd6a7;
  }
  
  .content-abled-button-list {
    background-color: var(--button-bg);
    color: var(--table-fonts);
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .content-disabled-button-list {
    visibility: hidden;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    
  }
  
  
  