[theme="light-theme"] {
  --bg: #adb5bd;
  --title: #064E00;
  --border: #064E00;
}
[theme="dark-theme"] {
  --bg: #6c757d;
  --title: rgba(200, 255, 195, 0.807);
  --border: rgba(200, 255, 195, 0.807);
}

.greetings-page {
 
    border-radius: 10px;
    border: solid var(--border) 2px;
    background-color: var(--bg);
    width: 75%;
    height: 100%;
    padding: 0.1%;
    padding-bottom: 5%;
    margin: auto;
   margin-top: 7%;
  }
  
  .greetings-content {

    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    padding: auto;
    
  }
  
  .header {
    
    width: max-content;
    margin: 5% auto;
    font-size: 4rem;
    color: var(--title);
  }