#search-filters-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#search-form {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.search-filter {

    margin-top: 1%;
    width: 33.33%;
}

.search-filter label {

    margin: 0;
    font-size: 1rem;
}

.search-filter input {

    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    width: 70%;
    margin-right: 30%;
}

.search-filter select {

    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    width: 70%;
    margin-right: 30%;
}

#search-filter-active {
    margin-top: 1%;
    box-sizing: border-box;
    font-size: 1rem;
    
    width: 15%;
}

#search-filter-active select {

    
    font-size: 1rem;
    margin: 0;
    width: 50%;
    margin-right: 50%;
}

#sub-search {

    width: 8%;
    height: 2rem;
    font-size: 1rem;
    margin-top: 1%;
}