[theme="light-theme"] {

  --login-bg: #ced4da;
  --login-fonts: #064E00;
  --login-border: #064E00;
  --login-button-bg: white;
  --login-button-font: #064E00;
}

[theme="dark-theme"] {

  --login-bg: #495057;
  --login-fonts: rgba(200, 255, 195, 0.807);
  --login-border: rgba(200, 255, 195, 0.807);
  --login-button-bg: rgb(25, 25, 25);
  --login-button-font: rgba(200, 255, 195, 0.807);
}

#login-page {
  
  border-radius: 10%;
  width: 50vw;
  height: 80vh;
  margin: auto;
  margin-top: 2%;
  border: solid var(--login-border) 2px;
  background-color: var(--login-bg);

}

#login-page-container {
  width: 90%;
  margin: 10px auto;
}

#login-page-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 5%;
  padding-left: 150px;
}

#login-title {
  width: max-content;
  margin: auto;
  font-size: 4rem;
  color: var(--login-fonts);
}

#login-form {
  margin-top: 10%;
  height: 100%;
  padding: 2%;
  padding-left: 10%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.login-form .input-component {

  width: 100%
}

#subCad {
  
  margin-top: 5%;
  align-self: self-start;
}

#p1 {
  align-self: center;
  margin: 0;
  height: max-content;
}

#p2 {
  margin-bottom: 2%;
}

.p3 {
  margin: 0
}