[theme="light-theme"] {

    --border: #064E00;
}

[theme="dark-theme"] {

    --border: rgba(200, 255, 195, 0.807);
}

.finish-sale {

    display: flex;
    padding-right: 1%;
    flex-direction: column;
    width: 30%;
    min-height: 20%;
    margin: auto;
    z-index: 9999;
    border: solid black 2px;
    background-color: var(--pop-bg-color);
    color: var(--pop-txt);

}

#footer {
    border-top: solid 0.01px var(--border);
    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
    padding-left: 60%;
    padding-right: 1%;
    padding-bottom: 1em;
    width: 100%;
    height: 15%;
    align-self: flex-end;
}

.label-sale {
    display: inline-block;
    text-align: justify;
    font-weight: 500;
    font-size: 1.2rem;
}

#sub-sell {
    box-sizing: border-box;
    justify-content: flex-end;
    border-radius: 0;
    width: 30%;
    height: 45%;
    font-weight: 550;
    font-size: 1em;
}

#sell-page {
    height: 100%;
    border: solid 0.01px var(--border);
}

#header {
    border-bottom: solid 0.01px var(--border);
    box-sizing: border-box;
    padding-top: 0.8%;
    padding-right: 1%;
    padding-bottom: 0.8%;
    padding-left: 70%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

#body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 77%;
    box-sizing: border-box;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.header-button {
    border-radius: 0%;
    margin-left: 4%;
    font-size: 1em;
    font-weight: 550;
    width: 90%;
    height: 60%;
}

.header-button:disabled {
    border-radius: 0%;
    opacity: 0.3;
    margin-left: 4%;
    font-size: 1em;
    font-weight: 550;
    width: 15%;
    height: 70%;
    cursor: not-allowed;

}

hr {
    margin: 0;
    width: 100%;
    border: solid 0.1px var(--border);
}