[theme="light-theme"] {
    --form-bg: #dee2e6;
    --label: #064E00;
    --button-bg: black;
}

[theme="dark-theme"] {
    --form-bg: #495057;
    --label: rgba(200, 255, 195, 0.807);
    --button-bg: white;
}


#create-form {
   width: 90%;
   height: 90%;
   margin: auto;
   background-color: var(--form-bg);
   padding: 1%;
}

#create-form label{
    font-size: 2rem;
    min-width: 100%;
    margin-right: 100%;
    color: var(--label);
}

#create-form input[type=text], input[type=number], select {
    font-size: 2rem;
    margin-top: 5px;
    /* height: 0.5%; */
    margin-right: 100%;
    width: 50%;
}

#content-abled-button-create {
    /* background-color: #212529; */
    background-color: var(--button-bg);
    color: var(--label);
    margin-right: 10px;
    margin-top: 2%;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}