.greetings-page {
 
    border-radius: 10px;
    background-color: #6c757d;
    width: 80%;
    height: 90%;
    padding: 0.1%;
    margin: auto;
  }
  
  .greetings-content {

    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    padding: auto;
    
  }
  
  .header {
    width: max-content;
    margin: 5% auto;
    font-size: 4rem;
    color: rgba(147, 242, 138, 0.807);
  }