[theme="light-theme"] {

  --login-bg: #ced4da;
  --login-fonts: #064E00;
  --login-button-bg: white;
  --login-button-font: #064E00;
}

[theme="dark-theme"] {

  --login-bg: #495057;
  --login-fonts: rgba(200, 255, 195, 0.807);
  --login-button-bg: rgb(25, 25, 25);
  --login-button-font: rgba(200, 255, 195, 0.807);
}

#login-page {
  
  border-radius: 10%;
  width: 50vw;
  height: 90vh;
  margin: auto;
  margin-top: 2%;
  border: solid #053700 2px;
  background-color: var(--login-bg);

}

#login-page-container {
  width: 90%;
  margin: 10px auto;
}

#login-form {
  /* border: solid rgb(80, 80, 80) 1px; */
  margin-top: 5%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#login-page-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 5%;
}

#login-title {
  width: max-content;
  margin-right: 20%;
  font-size: 4rem;
  color: var(--login-fonts);
}

#themeCad {}

#login-form label {
  font-size: 2rem;
  font-weight: 600;
  min-width: 100%;
  margin-right: 100%;
margin-top: 5%;
  color: var(--login-fonts);
}

#login-form input[type=text],
input[type=password] {
  margin-top: 5px;
  height: 0.5%;
  margin-right: 100%;
  min-width: 50%;

}

#subCad {
  margin-top: 5%;
}