[theme="light-theme"] {
    --side-bg: white;
    --side-button: #dee2e6;
    --top-bg: #ced4da;
 --content-bg: rgb(200, 200, 200);
    --logout-bg: white;
    --logout: darkred;
    --logo: black;
    --side-button-txt: #064E00;
    --bars-border: #064E00;
}

[theme="dark-theme"] {
    --side-bg: black;
    --side-button: rgb(64, 70, 76);
    --top-bg: #495057;
   --content-bg:  rgb(25, 25, 25);
    --logout-bg: black;
    --logout: red;
    --logo: white;
    --side-button-txt: rgba(200, 255, 195, 0.807);
    --bars-border:  rgb(200, 255, 195);
}

#main-page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#top-bar {
    
    display: inline-flex;
    border-bottom: solid var(--bars-border) 2px;
    width: 100%;
    height: 10%;
    background-color: var(--top-bg)
}

#logout {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 100%;
    background-color: var(--top-bg);
}

#logout-symbol {

    font-size: 1.5rem;
    color: var(--logout);
}

#logout-button {
    box-sizing: border-box;
    background-color: var(--logout-bg);
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    background-color: var(--top-bg);
    color: var(--logo);
    border-right: solid var(--bars-border) 2px;
}

#main-container {
    width: 100%;
    height: 90%;
    display: flex
}

#content-container {

    padding-top: 1%;
    padding-bottom: 20px;
    width: 90%;
    height: 100%;
    background-color: var(--content-bg);
    overflow-y: scroll;
}

#content-abled-button-main {

    background-color: var(--side-button);
    color: var(--side-button-txt);
    width: 100%;
    height: 10%;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-bottom: solid black;

}

#side-bar {
    width: 10%;
    height: 100%;
    background-color: var(--side-bg);
    border-right: solid var(--bars-border) 2px;

}