body {
  
  background-color: #4CAF50;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



 .content-table {
  border-collapse: collapse;
   margin: 25px; 
   font-size: 6mm;
    min-width: 1500px; 
    border: solid 2px;
  /* width: 100%; */
 }
 
 .content-table thead tr{
background-color: #4ffd4f ;
border: solid 2px;
 }

 .content-table tbody tr{
  border: solid 2px;
 }

 .content-table thead {
background-color: #4ffd4f ;
border: solid 2px;
 }

 .content-table tbody tr.even-row{
background-color: #bafdba ;
 }

 .content-table tbody tr.odd-row{
background-color: #8bff8b ;
 }

 .content-table tbody tr.hovered-row{
background-color: #8cd6a7 ;
 }

 .content-table tbody tr.selected-row{
background-color: #8cd6a7 ;
 }


.pop-up{
  position: absolute;
  height: 10cm;
  width: 15cm;
  margin: auto;
  padding: 10px;
  z-index: 9999;
  border: solid black 2px;
  background-color: #006421;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}
.pop-up-head{
  padding-left: 10px;
  font-size: large;
}

.pop-up-body{
  padding-left: 10px;
  font-size: medium;
}



.content-abled-button {
  margin-left: 25px;
  margin-right: 5px;
  width: 150px; 
  height: 40px; 
  background-color: #388b3b; 
  color: white;
  border: solid black 2px;
  border-radius: 4px;
  cursor: pointer;
 
}

.content-disabled-button {
  visibility: hidden;
  opacity: 0.5;
  cursor: not-allowed;
  margin-left: 25px;
  margin-right: 5px;
  width: 150px; 
  height: 40px; 
  background-color: #ccc; 
  color: white;
  border: none;
  border-radius: 4px;
  pointer-events: none;

}

 .login-page-container {
 min-height: 100vh;
 min-width: 100vw;
 
}

.login-page-content {
width: 1000px;
height: 700px;
}

/*
.login-page input, label {
  font: inherit;
}

.login-button {
  padding: 5px;
  background-color: #049233;
}

.form-line {
  margin-bottom: 1rem;
  
}

.form-line input{
  min-width: 100%;
  
}
.header h1{
  width: max-content;
 margin: auto;
 font-size: 5rem;
}

.default-content {
  font-size: 4rem;
  padding-bottom: 30px;
}

.default-content h1{
  text-align: center;
  font-size: 8rem;
} */

.menu-page {
  background-color: rgb(115, 218, 120);
  min-height: 20cm;
  max-width: 1500px;
  margin: auto;
  padding-top: 5rem;
  box-sizing: border-box;
}

.menu-content {
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;

}



/* .header {
 margin: auto;
} */



.page-not-found {
  background-color: red;
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
